.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-gap: 1vw;
    border-bottom: 1px solid var(--fg);
    justify-content: center;
}

.navItem {
    padding: 1vmin;
}

.navItem:hover {
    color: var(--fg);
}

.active {
    color: var(--bg);
    background-color: var(--link);
}

.active:hover {
    color: var(--bg);
    cursor: default;
}
