.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-gap: 1vw;
    border-bottom: 1px solid var(--fg);
    justify-content: center;
}

.navItem {
    padding: 1vmin;
    &:hover {
         color: var(--fg);
     }
}

.active {
    color: var(--bg);
    background-color: var(--link);
    // override .navItem:hover to deactivate it, since clicking an active nav item has no effect
    &:hover {
        color: var(--bg);
        cursor: default;
    }
}
