@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --bg-disabled: #444;
    --fg-disabled: #bbb;
    --fg: #fff;
    --link: #e29923;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --bg-disabled: #ccc;
    --fg-disabled: #555;
    --fg: #000;
    --link: #9f6403;
  }
}

#root {
  text-align: center;
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--fg);
}

h1 {
  font-size: 120%;
  margin: 0;
  width: 100%;
  padding: 0.5vh;
  border-bottom: 1px solid var(--fg);
  background-color: var(--bg-disabled);
}

a {
  color: var(--link);
}

hr {
  width: 75%;
  margin: 2vh 0;
}

ul {
  text-align: left;
  /*font-size: calc(8px + 1.4vmin);*/
  /*line-height: calc(10px + 1.8vmin);*/
}

label {
  justify-self: end;
}

input, button {
  font-size: calc(6px + 1.75vmin);
  margin: 0 1vmin;
}

button {
  color: var(--bg);
  background-color: var(--fg);
  padding: 0.4vmin 0.6vmin;
  &:hover {
    color: var(--fg);
    background-color: var(--bg);
  }
  &:disabled {
    color: var(--bg-disabled);
    background-color: var(--fg-disabled);
  }
}

form.profile {
  display: grid;
  grid-gap: 1vmin;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  & > button {
    grid-column: 1 / 3;
    align-self: center;
    width: min-content;
    margin: 1vmin;
  }
  & > input {
    width: calc(35vw + 50px);
  }
}
